body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #008FAA;
}
.bem{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
}
.b2{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-60%, -50%);
	text-align: center;
	color: white;
}
.botao{
	border: solid 1px white;
	background: color:white;
}